@use "variables";

.artdeco-box {

    &--overhang {
        position: relative;
        margin: 20px;
        padding: 20px;
        border: 2px solid variables.$bodyColor;
        min-height: 300px;

        &:before {
            content: '';
            position: absolute;
            top: -20px;
            bottom: -20px;
            left: 10px;
            right: 10px;
            border-left: 2px solid variables.$bodyColor;
            border-right: 2px solid variables.$bodyColor;
        }

        &:after {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: -20px;
            right: -20px;
            border-top: 2px solid variables.$bodyColor;
            border-bottom: 2px solid variables.$bodyColor;
        }
    }

    &--setin {;
        position: relative;
        padding: 15px;
        margin: 15px;

        &:before, &:after {
            content: '';
            border: 2px solid variables.$bodyColor;
            position: absolute;
        }

        &:before {
            inset-block: -4px;
            inset-inline: 4px;
        }

        &:after {
            /* horizontal*/
            inset-block: 4px;
            inset-inline: -4px;
        }
    }
}