@use "variables";

html {
    background: variables.$backgroundColor;
    color: variables.$bodyColor;
    font-family: variables.$bodyFont, sans-serif;

    transition: background-color variables.$ease 0.3s;

    &[data-theme="light"] {
        background: variables.$backgroundColor--light;
    }
}


body {
    min-height: 100vh;
    padding: 50px 10px;
}

main {
    position: relative;
    z-index: 10 !important;
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}
