@use "variables";

html {
    background: variables.$backgroundColor;
    color: variables.$bodyColor;
    font-family: variables.$bodyFont, sans-serif;
}


body {
    min-height: 100vh;
    padding: 10px;
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}
