<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
      <div class="wrapper">
          <section class="artdeco-box--overhang">
              {{ content }}
              <div class="artdeco-box--setin"></div>
          </section>
      </div>
  </body>
</html>
